body {
    background: linear-gradient(135deg, #000000, #00008B);
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h3, h4 {
    color: #fff;
}

p {
    color: #bbb;
}

.container {
    background-color: rgba(43, 43, 43, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 80%;
    max-width: 800px;
    position: relative;
    top: 14rem;
}

img {
    width: 150px;
    height: auto;
}

.heading--primary {
    margin-bottom: 4rem;
}

.footer-content {
    position: relative;
    left: 10rem;
    font-size: 1.65rem;
}

.footer-bottom{
    position: relative;
    left: 10rem;
}